<mat-toolbar color="primary">
  <span class="material-icons" style="cursor: pointer; font-size: 2em">view_module</span>
  <h1 style="margin:0 4vw 0">Jira clone</h1>
  <button mat-button>Dashboard <span class="material-icons">arrow_drop_down</span></button>
  <button mat-button>Issues <span class="material-icons">arrow_drop_down</span></button>
  <button mat-button>Projects <span class="material-icons">arrow_drop_down</span></button>
  <button mat-raised-button color="primary"  (click)="openDialog()">Create Task <span class="material-icons">add</span></button>
</mat-toolbar>
